/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

/////////////////////////////////////////
// COLOR VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-steel-blue: hsl(194, 69%, 57%);
$color-primary-light-pink: hsl(337, 100%, 60%);
$color-primary-lighter-dark: hsla(0, 0%, 0%, 0.2);
$color-primary-light-dark: hsla(0, 0%, 0%, 0.5);

/////////////////////////////////////////
// CSS RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
  box-sizing: border-box;
}

